article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

html {
	min-height: 100%;
}
body {
	width: 800px;
	margin: 0 auto;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}
ul {
	float: left;
	padding: 0;
	margin-left: 100px;
	list-style: none;
	width: 250px;
	text-align: center;
}

h1 { 
	color: #fff; 
	text-align: center;
	padding: 4px 0;
}

h3  {
	margin: 30px 0 10px;
	padding-left: 100px;
}

ul li {
	margin: 2px 0;
/*	padding: 7px;*/
	color: #fff;
	line-height: 30px;
}
#ds { background: #0099d6; }
#df { background-color: #e29200; }
#do { background-color: red; }
#di9 { background-color: #4a62a9; }
#di8 { background-color: teal; }
#di7 { background-color: purple; }
#di6 { background-color: royalblue; }
#di83 { 
	background-color: #f5f5f5; 
	color: #111;
	border-bottom: 5px solid #97e8a2;
}
footer {
	margin: 100px 0 0;
	text-align: center;
}
a { color: #42659b; }
a:hover { color: #6588bd; text-decoration: none; }

::-moz-selection { background: #42659b; color: #fff; }
::selection { background: #42659b; color: #fff;}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

#result {
	display: block;
	background: #f5f5f5;
	float: left;
	width: 350px;
	line-height: 31px;
	white-space: pre;
	margin: -11px 0 0 40px;
	padding: 0 0 30px;
	border-radius: 4px;
}

.lt-ie9 #result {
	display: none;
}

.lt-ie9 h3 {
	text-align: center;
	padding: 0;
}

.lt-ie9 ul {
	margin: 0 auto;
	float: none;
}